html {
  height: 100%;
  width: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0 auto;
  background-color: white;
  color: black;
  max-width: 425px;
  height: 100%;
  font-family: 'Arial Black', Helvetica, sans-serif;
  box-sizing: border-box;
  position: relative;
  font-size: 0;
}

.button {
  background: none;
  margin: auto;
  position: absolute;
  left: 50%;
  bottom: 18px;
  transform: translateX(-50%);
  width: 50%;
  overflow: hidden;
  box-sizing: border-box;
  border: 3px solid #fff;
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.2s;
  padding: 5px 15px;
}

.image {
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  max-width: 425px;
  object-fit: cover;
  transition-duration: .5s;
  transition-timing-function: ease-in;
}